body
{
    background-color: #FFFFFF;
}

#Content 
{
    margin: auto;
    width: 800px;
}

#CombatLog
{
    width: 800px;
}

.BulletsText
{
    color: #000000;
    font-weight: bold;
}

.Bullets
{
    color: #000000;
}

.LogMessage
{
    color: #000000;    
}

#TurnInfo
{
    text-align: center;
}

#GameInformation 
{
    display: flex; 
    justify-content: space-around
}


#GameState 
{
    text-align: center;
}

#GameButtons
{
    display: flex; 
    justify-content: center;
}
#NewGameButton
{
    text-align: center;
}

#ButtonNewGame
{
    display: none;
}


.BoldText
{
    font-weight: bold;
}