body
{
    background-color: #FFFFFF;
}

h1
{
    font-family: Arial, Helvetica, sans-serif;
}

p
{
    font-family: Arial, Helvetica, sans-serif;
}

#Content 
{
    margin: auto;
    width: 800px;
}

#CombatLog
{
    width: 800px;
}

.BulletsText
{
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.Bullets
{
    color: #000000;
}

.LogMessage
{
    color: #000000;    
}

#TurnInfo
{
    text-align: center;
}

#GameInformation 
{
    display: flex; 
    justify-content: space-around
}

#BoomImage 
{
    opacity: 0;
    z-index: 0;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    display: none;
}

#GameState 
{
    text-align: center;
}

#GameButtons
{
    display: flex; 
    justify-content: center;
}
#NewGameButton
{
    text-align: center;
}

#ButtonNewGame
{
    display: none;
}


.BoldText
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.FadeInAndOut
{
    -webkit-animation: fadeinout 1s linear 1 forwards;
    animation: fadeinout 1s linear 1 forwards;
}

@keyframes fadeinout 
{
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}


@-webkit-keyframes fadeinout 
{
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}

