body
{
    background-color: #FFFFFF;
}

#Content 
{
    margin: auto;
    width: 800px;
}

#CombatLog
{
    width: 800px;
}

.BulletsText
{
    color: #000000;
    font-weight: bold;
}

.Bullets
{
    color: #000000;
}

.LogMessage
{
    color: #000000;    
}